
@{
    ViewData["Title"] = "Панель керування";
}

<div class="text-light">

    <h1>Контрольна панель адміністратора</h1>

    <ul>
        <li><a asp-action="Index" asp-controller="Models">Усі моделі</a></li>
        <li><a asp-action="Create" asp-controller="Models">Створити модель</a></li>
        <li><a asp-action="CreateSupply" asp-controller="Admin">Внести дані про поставку</a></li>
        
        <li><a asp-action="SupplyHistory" asp-controller="Admin">Історія поставок</a></li>
        <li><a asp-action="OrderHistory" asp-controller="Admin">Історія замовлень</a></li>
        <li><a asp-action="CreateMailing" asp-controller="Admin">Створити E-mail розсилку</a></li>
        
    </ul>
    <hr class="border-light" />
    <h3>Керування даними у БД</h3>
    <ul>
        <li><a asp-area="DbAdmin" asp-page="/AgeGroups">Вікові групи</a></li>
        <li><a asp-area="DbAdmin" asp-page="/Categories">Категорії</a></li>
        <li><a asp-area="DbAdmin" asp-page="/Colours">Кольори</a></li>
        <li><a asp-area="DbAdmin" asp-page="/FrameSizes">Розміри рам</a></li>
        <li><a asp-area="DbAdmin" asp-page="/ModelNames">Назви моделей</a></li>
        <li><a asp-area="DbAdmin" asp-page="/ModelPrefixes">Префікси назв моделей</a></li>
        <li><a asp-area="DbAdmin" asp-page="/Sexes">Статі</a></li>
        <li><a asp-area="DbAdmin" asp-page="/Statuses">Статуси</a></li>
        <li><a asp-area="DbAdmin" asp-page="/StoringPlaces">Місця зберігання</a></li>
        <li><a asp-area="DbAdmin" asp-page="/Suspensions">Типи підвіски</a></li>
    </ul>
</div>
