<div class="text-center text-light" style="font-size: 20px;">
    <br />
    <h1>Дякуємо за замовлення!</h1>
    <br />
    <p>Вже найближчим часом ваше замовлення буде готове</p>
    <p>У разі затримок або непередбачених ситуації ми повідомимо Вас</p>
    <br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">На головну</a>
</div>