@model BikeStore.Models.Domain.Bike

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bike</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FrameNumber" class="control-label"></label>
                <input asp-for="FrameNumber" class="form-control" />
                <span asp-validation-for="FrameNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoringPlaceId" class="control-label"></label>
                <select asp-for="StoringPlaceId" class="form-control" asp-items="ViewBag.StoringPlaceId"></select>
                <span asp-validation-for="StoringPlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrameSizeId" class="control-label"></label>
                <select asp-for="FrameSizeId" class="form-control" asp-items="ViewBag.FrameSizeId"></select>
                <span asp-validation-for="FrameSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelColourId" class="control-label"></label>
                <select asp-for="ModelColourId" class="form-control" asp-items="ViewBag.ModelColourId"></select>
                <span asp-validation-for="ModelColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@ViewBag.ReturnUrl">Повернутися до змісту поставки</a>
</div>

