<div class="" style="margin-right: 20px; width: 30%;">
    <a class="btn btn-sm" asp-controller="Cart" asp-action="Index" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <img src="~/img/shopping-cart.png" />        
    </a>
</div>